<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.protichi.hestia_first">

    <application
        android:name="newsfeed.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".RegisterPage"
            android:label="@string/app_name" />
        <activity
            android:name=".UploadPhoto"
            android:label="@string/title_activity_upload_photo"
            android:parentActivityName=".RegisterPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegisterPage" />
        </activity>
        <activity
            android:name=".Cook_homepage"
            android:label="@string/title_activity_cook_homepage"
            android:parentActivityName=".UploadPhoto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UploadPhoto" />
        </activity>
        <activity
            android:name=".upload_menu"
            android:label="@string/title_activity_cook_homepage"/>



        <activity android:name=".Homescreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NewsFeed"></activity>



        <activity android:name=".CookUserOption" />
        <activity android:name=".Availability"></activity>
    </application>

</manifest>
