<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.protichi.hestia_first">

    <application
        android:name="newsfeed.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:label="@string/app_name"
        android:theme="@style/CustomActionBarTheme">
        <activity
            android:name=".RegisterPage"
            android:label="@string/app_name" />
        <activity
            android:name=".UploadPhoto"
            android:label="@string/title_activity_upload_photo"
            android:parentActivityName=".RegisterPage">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".RegisterPage" />
        </activity>
        <activity
            android:name=".Cook_homepage"
            android:label="@string/title_activity_cook_homepage"
            android:parentActivityName=".UploadPhoto">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".UploadPhoto" />
        </activity>
        <activity
            android:name=".upload_menu"
            android:label="@string/title_activity_cook_homepage"/>



        <activity android:name=".Homescreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".NewsFeed"></activity>

        <activity
            android:name=".Add_item"
            android:label="@string/title_activity_add_item"
            android:parentActivityName=".upload_menu" >
        </activity>

        <activity android:name=".CookUserOption" />
        <activity android:name=".Availability"></activity>

    <activity android:name=".progress" />
    <activity
        android:name=".Search_User"
        android:label="@string/title_activity_search__user" />
    <activity
        android:name=".ShoppingCart"
        android:label="@string/title_activity_shopping_cart" />
    <activity
        android:name=".SearchFilter"
        android:label="@string/title_activity_search_filter" />
    <activity
        android:name=".User_homepage"
        android:label="@string/title_activity_user_homepage" />

    <activity android:name=".UserHotLunchMeal"/>
    <activity android:name=".Search" />
    <activity android:name=".EmployeeList" />
    <activity android:name=".EmployeeDetails" />
    <!--<activity android:name=".EmployeeAction" />-->
    <!--<activity android:name=".DatabaseHelper" />-->
    <activity android:name=".CatalogActivity"
        android:theme="@style/CustomActionBarTheme" />
    <!-- <activity android:name=".Product"></activity> -->
    <activity android:name=".ProductDetailsActivity" />
    <activity android:name=".ShoppingCartActivity" />
    <activity android:name=".BengaliCatalog" />
    <activity android:name=".ItalianCatalog" />
    <activity android:name=".ChineseCatalog" />
    <activity android:name=".MughlaiCatalog" />
    <activity android:name=".SouthIndianCatalog" />
    <activity android:name=".UserOrderDetails"/>
    <activity android:name=".UserOrderCheck"/>

    </application>

</manifest>
